<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ReadJobServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.ReadJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSummaryServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.JobSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CleanedDataServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.CleanedDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountJobsServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.CountJobsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularJobServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.PopularJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSkillServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.JobSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YearsExpServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.YearsExpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularAreaServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.PopularAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoountJopChartServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.CoountJopChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularJobChartServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.PopularJobChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularJopAreaChartServlet</servlet-name>
        <servlet-class>Wazzuf_Pack.PopularJopAreaChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadJobServlet</servlet-name>
        <url-pattern>/ReadJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSummaryServlet</servlet-name>
        <url-pattern>/JobSummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CleanedDataServlet</servlet-name>
        <url-pattern>/CleanedDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountJobsServlet</servlet-name>
        <url-pattern>/CountJobsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularJobServlet</servlet-name>
        <url-pattern>/PopularJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSkillServlet</servlet-name>
        <url-pattern>/JobSkillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YearsExpServlet</servlet-name>
        <url-pattern>/YearsExpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularAreaServlet</servlet-name>
        <url-pattern>/PopularAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoountJopChartServlet</servlet-name>
        <url-pattern>/CoountJopChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularJobChartServlet</servlet-name>
        <url-pattern>/PopularJobChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularJopAreaChartServlet</servlet-name>
        <url-pattern>/PopularJopAreaChartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
